
MVCSmartAPI01/obj/Debug/edmxResourcesToEmbed/Models/DB_SMART1.csdl
MVCSmartAPI01/obj/Debug/edmxResourcesToEmbed/Models/DB_SMART1.msl
MVCSmartAPI01/obj/Debug/edmxResourcesToEmbed/Models/DB_SMART1.ssdl
MVCSmartAPI01/obj/Debug/TempPE/Models.DB_SMART1.Designer.cs.dll
MVCSmartAPI01/obj/Debug/TempPE/Models.DB_SMART1.cs.dll
ApiHelper/bin/Debug/Levelnis.Learning.CallingWebApiFromMvc.ApiHelper.dll
ApiHelper/bin/Debug/Levelnis.Learning.CallingWebApiFromMvc.ApiHelper.pdb
ApiHelper/bin/Debug/Microsoft.Web.Infrastructure.dll
ApiHelper/bin/Debug/Newtonsoft.Json.dll
ApiHelper/bin/Debug/Newtonsoft.Json.xml
ApiHelper/bin/Debug/System.Net.Http.Formatting.dll
ApiHelper/bin/Debug/System.Net.Http.Formatting.xml
ApiHelper/bin/Debug/System.Web.Helpers.dll
ApiHelper/bin/Debug/System.Web.Helpers.xml
ApiHelper/bin/Debug/System.Web.Razor.dll
ApiHelper/bin/Debug/System.Web.Razor.xml
ApiHelper/bin/Debug/System.Web.WebPages.Deployment.dll
ApiHelper/bin/Debug/System.Web.WebPages.Deployment.xml
ApiHelper/bin/Debug/System.Web.WebPages.dll
ApiHelper/bin/Debug/System.Web.WebPages.Razor.dll
ApiHelper/bin/Debug/System.Web.WebPages.Razor.xml
ApiHelper/bin/Debug/System.Web.WebPages.xml
ApiHelper/obj/Debug/ApiHelper.csproj.FileListAbsolute.txt
ApiHelper/obj/Debug/ApiHelper.csprojResolveAssemblyReference.cache
ApiHelper/obj/Debug/build.force
ApiHelper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ApiHelper/obj/Debug/Levelnis.Learning.CallingWebApiFromMvc.ApiHelper.dll
ApiHelper/obj/Debug/Levelnis.Learning.CallingWebApiFromMvc.ApiHelper.pdb
ApiHelper/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ApiHelper/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ApiHelper/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MVCSmart01.v12.suo
MVCSmartAPI01/bin/Microsoft.Web.Infrastructure.dll
MVCSmartAPI01/bin/Newtonsoft.Json.dll
MVCSmartAPI01/bin/System.Net.Http.Formatting.dll
MVCSmartAPI01/bin/System.Web.Helpers.dll
MVCSmartAPI01/bin/System.Web.Http.dll
MVCSmartAPI01/bin/System.Web.Http.WebHost.dll
MVCSmartAPI01/bin/System.Web.Mvc.dll
MVCSmartAPI01/bin/System.Web.Razor.dll
MVCSmartAPI01/bin/System.Web.WebPages.Deployment.dll
MVCSmartAPI01/bin/System.Web.WebPages.dll
MVCSmartAPI01/bin/System.Web.WebPages.Razor.dll
MVCSmartAPI01/obj/Debug/build.force
MVCSmartAPI01/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MVCSmartAPI01/obj/Debug/MVCSmartAPI01.csproj.FileListAbsolute.txt
MVCSmartAPI01/obj/Debug/MVCSmartAPI01.csprojResolveAssemblyReference.cache
MVCSmartAPI01/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MVCSmartAPI01/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MVCSmartAPI01/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MVCSmartClient01/bin/Levelnis.Learning.CallingWebApiFromMvc.ApiHelper.dll
MVCSmartClient01/bin/Microsoft.IdentityModel.dll
MVCSmartClient01/bin/Microsoft.Web.Infrastructure.dll
MVCSmartClient01/bin/Newtonsoft.Json.dll
MVCSmartClient01/bin/System.Net.Http.Formatting.dll
MVCSmartClient01/bin/System.Web.Http.dll
