
MVCSmartAPI01/obj/Debug/edmxResourcesToEmbed/Models/DB_SMART1.csdl
MVCSmartAPI01/obj/Debug/edmxResourcesToEmbed/Models/DB_SMART1.msl
MVCSmartAPI01/obj/Debug/edmxResourcesToEmbed/Models/DB_SMART1.ssdl
MVCSmartAPI01/obj/Debug/TempPE/Models.DB_SMART1.Designer.cs.dll
MVCSmartAPI01/obj/Debug/TempPE/Models.DB_SMART1.cs.dll
ApiHelper/bin/Debug/Levelnis.Learning.CallingWebApiFromMvc.ApiHelper.dll
ApiHelper/bin/Debug/Levelnis.Learning.CallingWebApiFromMvc.ApiHelper.pdb
ApiHelper/bin/Debug/Microsoft.Web.Infrastructure.dll
ApiHelper/bin/Debug/Newtonsoft.Json.dll
ApiHelper/bin/Debug/Newtonsoft.Json.xml
ApiHelper/bin/Debug/System.Net.Http.Formatting.dll
ApiHelper/bin/Debug/System.Net.Http.Formatting.xml
ApiHelper/bin/Debug/System.Web.Helpers.dll
ApiHelper/bin/Debug/System.Web.Helpers.xml
ApiHelper/bin/Debug/System.Web.Razor.dll
ApiHelper/bin/Debug/System.Web.Razor.xml
ApiHelper/bin/Debug/System.Web.WebPages.Deployment.dll
ApiHelper/bin/Debug/System.Web.WebPages.Deployment.xml
ApiHelper/bin/Debug/System.Web.WebPages.dll
ApiHelper/bin/Debug/System.Web.WebPages.Razor.dll
ApiHelper/bin/Debug/System.Web.WebPages.Razor.xml
ApiHelper/bin/Debug/System.Web.WebPages.xml
ApiHelper/obj/Debug/ApiHelper.csproj.FileListAbsolute.txt
ApiHelper/obj/Debug/ApiHelper.csprojResolveAssemblyReference.cache
ApiHelper/obj/Debug/build.force
ApiHelper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ApiHelper/obj/Debug/Levelnis.Learning.CallingWebApiFromMvc.ApiHelper.dll
ApiHelper/obj/Debug/Levelnis.Learning.CallingWebApiFromMvc.ApiHelper.pdb
ApiHelper/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ApiHelper/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ApiHelper/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MVCSmart01.v12.suo
MVCSmartAPI01/bin/Microsoft.Web.Infrastructure.dll
MVCSmartAPI01/bin/Newtonsoft.Json.dll
MVCSmartAPI01/bin/System.Net.Http.Formatting.dll
MVCSmartAPI01/bin/System.Web.Helpers.dll
MVCSmartAPI01/bin/System.Web.Http.dll
MVCSmartAPI01/bin/System.Web.Http.WebHost.dll
MVCSmartAPI01/bin/System.Web.Mvc.dll
MVCSmartAPI01/bin/System.Web.Razor.dll
MVCSmartAPI01/bin/System.Web.WebPages.Deployment.dll
MVCSmartAPI01/bin/System.Web.WebPages.dll
MVCSmartAPI01/bin/System.Web.WebPages.Razor.dll
MVCSmartAPI01/obj/Debug/build.force
MVCSmartAPI01/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MVCSmartAPI01/obj/Debug/MVCSmartAPI01.csproj.FileListAbsolute.txt
MVCSmartAPI01/obj/Debug/MVCSmartAPI01.csprojResolveAssemblyReference.cache
MVCSmartAPI01/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MVCSmartAPI01/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MVCSmartAPI01/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MVCSmartClient01/bin/Levelnis.Learning.CallingWebApiFromMvc.ApiHelper.dll
MVCSmartClient01/bin/Microsoft.IdentityModel.dll
MVCSmartClient01/bin/Microsoft.Web.Infrastructure.dll
MVCSmartClient01/bin/Newtonsoft.Json.dll
MVCSmartClient01/bin/System.Net.Http.Formatting.dll
MVCSmartClient01/bin/System.Web.Http.dll
MVCSmartClient01/bin/Antlr3.Runtime.pdb
MVCSmartClient01/bin/Content/Images/Blue.png
MVCSmartClient01/bin/Content/Images/foto smart-051ASJ.png
MVCSmartClient01/bin/Content/Images/gplaypattern.png
MVCSmartClient01/bin/Content/Images/Green.png
MVCSmartClient01/bin/Content/Images/Grey.png
MVCSmartClient01/bin/Content/Images/Liquid Gold.png
MVCSmartClient01/bin/Content/Images/Logo on white.png
MVCSmartClient01/bin/Content/Images/Red.png
MVCSmartClient01/bin/Content/Images/Temp.png
MVCSmartClient01/bin/Content/Images/Yellow.png
MVCSmartClient01/bin/DevExpress.Dashboard.v14.1.Core.xml
MVCSmartClient01/bin/DevExpress.Dashboard.v14.1.Web.xml
MVCSmartClient01/bin/DevExpress.Data.v14.1.xml
MVCSmartClient01/bin/DevExpress.DataAccess.v14.1.xml
MVCSmartClient01/bin/DevExpress.Office.v14.1.Core.xml
MVCSmartClient01/bin/DevExpress.PivotGrid.v14.1.Core.xml
MVCSmartClient01/bin/DevExpress.Printing.v14.1.Core.xml
MVCSmartClient01/bin/DevExpress.RichEdit.v14.1.Core.xml
MVCSmartClient01/bin/DevExpress.SpellChecker.v14.1.Core.xml
MVCSmartClient01/bin/DevExpress.Spreadsheet.v14.1.Core.xml
MVCSmartClient01/bin/DevExpress.Utils.v14.1.xml
MVCSmartClient01/bin/DevExpress.Web.ASPxGauges.v14.1.xml
MVCSmartClient01/bin/DevExpress.Web.ASPxHtmlEditor.v14.1.xml
MVCSmartClient01/bin/DevExpress.Web.ASPxPivotGrid.v14.1.xml
MVCSmartClient01/bin/DevExpress.Web.ASPxScheduler.v14.1.xml
MVCSmartClient01/bin/DevExpress.Web.ASPxSpellChecker.v14.1.xml
MVCSmartClient01/bin/DevExpress.Web.ASPxSpreadsheet.v14.1.xml
MVCSmartClient01/bin/DevExpress.Web.ASPxTreeList.v14.1.xml
MVCSmartClient01/bin/DevExpress.Web.v14.1.xml
MVCSmartClient01/bin/DevExpress.Xpo.v14.1.xml
MVCSmartClient01/bin/DevExpress.XtraCharts.v14.1.Web.xml
MVCSmartClient01/bin/DevExpress.XtraCharts.v14.1.xml
MVCSmartClient01/bin/DevExpress.XtraGauges.v14.1.Core.xml
MVCSmartClient01/bin/DevExpress.XtraPivotGrid.v14.1.xml
MVCSmartClient01/bin/DevExpress.XtraReports.v14.1.Web.xml
MVCSmartClient01/bin/DevExpress.XtraReports.v14.1.xml
MVCSmartClient01/bin/DevExpress.XtraScheduler.v14.1.Core.xml
MVCSmartClient01/bin/Levelnis.Learning.CallingWebApiFromMvc.ApiHelper.pdb
MVCSmartClient01/bin/log4net.config
MVCSmartClient01/bin/log4net.dll
MVCSmartClient01/bin/log4net.xml
MVCSmartClient01/bin/Microsoft.AspNet.Identity.Core.xml
MVCSmartClient01/bin/Microsoft.AspNet.Identity.Owin.xml
MVCSmartClient01/bin/Microsoft.Owin.Host.SystemWeb.xml
MVCSmartClient01/bin/Microsoft.Owin.Security.Cookies.xml
MVCSmartClient01/bin/Microsoft.Owin.Security.OAuth.xml
MVCSmartClient01/bin/Microsoft.Owin.Security.xml
MVCSmartClient01/bin/Microsoft.Owin.xml
MVCSmartClient01/bin/MVCSmartClient01.dll
MVCSmartClient01/bin/MVCSmartClient01.dll.config
MVCSmartClient01/bin/MVCSmartClient01.pdb
MVCSmartClient01/bin/Newtonsoft.Json.xml
MVCSmartClient01/bin/Omu.ValueInjecter.xml
MVCSmartClient01/bin/Scripts/app.js
MVCSmartClient01/bin/Scripts/SmartApps.js
MVCSmartClient01/bin/System.Net.Http.Formatting.xml
MVCSmartClient01/bin/System.Web.Helpers.dll
MVCSmartClient01/bin/System.Web.Helpers.xml
MVCSmartClient01/bin/System.Web.Http.xml
MVCSmartClient01/bin/System.Web.Helpers.dll
MVCSmartClient01/bin/System.Web.Mvc.xml
MVCSmartClient01/bin/System.Web.Razor.dll
MVCSmartClient01/bin/System.Web.Razor.xml
MVCSmartClient01/bin/System.Web.WebPages.Deployment.dll
MVCSmartClient01/bin/System.Web.WebPages.Deployment.xml
MVCSmartClient01/bin/System.Web.WebPages.dll
MVCSmartClient01/bin/System.Web.WebPages.Razor.dll
MVCSmartClient01/bin/System.Web.WebPages.Razor.xml
MVCSmartClient01/bin/System.Web.WebPages.xml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_AddEditDetailAS_3M.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_AddEditDetailBLG.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_AddEditDetailKAP.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_AddEditDetailKJP.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_AddEditDetailNOT.cshtml
MVCSmartClient01/bin/System.Web.Helpers.dll
MVCSmartClient01/bin/System.Web.Razor.dll
MVCSmartClient01/bin/System.Web.WebPages.Deployment.dll
MVCSmartClient01/bin/System.Web.WebPages.dll
MVCSmartClient01/bin/System.Web.WebPages.Razor.dll
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_AddEditDetailOTH.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_Edit.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_GetAS_1MByRekanan.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_GetByRekanan.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_GetByRekanan_ASR.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_GetByRekananAS.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_GetByRekananAS_1M.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_GetByRekananAS_PCP.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_GetByRekananBLG.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_GetByRekananKAP.cshtml
MVCSmartClient01/bin/System.Web.Helpers.dll
MVCSmartClient01/bin/System.Web.Razor.dll
MVCSmartClient01/bin/System.Web.WebPages.Deployment.dll
MVCSmartClient01/bin/System.Web.WebPages.dll
MVCSmartClient01/bin/System.Web.WebPages.Razor.dll
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_GetByRekananKJP.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_GetByRekananNOT.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_RptAsuransiJiwa.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_RptAsuransiKerugian.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_RptBalai.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_RptKAP.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_RptKJPP.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_RptKonsultanM.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/_RptNotaris.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/Create.cshtml
MVCSmartClient01/bin/System.Web.Helpers.dll
MVCSmartClient01/bin/System.Web.Razor.dll
MVCSmartClient01/bin/System.Web.WebPages.Deployment.dll
MVCSmartClient01/bin/System.Web.WebPages.dll
MVCSmartClient01/bin/System.Web.WebPages.Razor.dll
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/Delete.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetAS_1MByRekanan.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByRekanan.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByRekanan_ASR.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByRekananAS.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByRekananAS_1M.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByRekananBLG.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByRekananKAP.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByRekananKJP.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByRekananNOT.cshtml
MVCSmartClient01/bin/System.Web.Helpers.dll
MVCSmartClient01/bin/System.Web.Razor.dll
MVCSmartClient01/bin/System.Web.WebPages.Deployment.dll
MVCSmartClient01/bin/System.Web.WebPages.dll
MVCSmartClient01/bin/System.Web.WebPages.Razor.dll
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByTypeASJ.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByTypeASJ1M.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByTypeASK.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByTypeASK1M.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByTypeBLG.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByTypeKAP.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByTypeKJP.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByTypeKMG.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/GetByTypeNOT.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/Index.cshtml
MVCSmartClient01/bin/System.Web.Helpers.dll
MVCSmartClient01/bin/System.Web.Razor.dll
MVCSmartClient01/bin/System.Web.WebPages.Deployment.dll
MVCSmartClient01/bin/System.Web.WebPages.dll
MVCSmartClient01/bin/System.Web.WebPages.Razor.dll
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/RptAsuransiJiwa.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/RptAsuransiKerugian.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/RptBalai.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/RptKAP.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/RptKJPP.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/RptKonsultanM.cshtml
MVCSmartClient01/bin/Views/TrxDetailPekerjaan/RptNotaris.cshtml
MVCSmartClient01/bin/Views/trxDetailPekerjaanHeader/_AddEditPekerjaanAS_1MHeader.cshtml
MVCSmartClient01/bin/Views/trxDetailPekerjaanHeader/_AddEditPekerjaanHeader.cshtml
MVCSmartClient01/bin/Views/trxDetailPekerjaanHeader/_GetByRekanan.cshtml
MVCSmartClient01/bin/System.Web.Helpers.dll
MVCSmartClient01/bin/System.Web.Razor.dll
MVCSmartClient01/bin/System.Web.WebPages.Deployment.dll
MVCSmartClient01/bin/System.Web.WebPages.dll
MVCSmartClient01/bin/System.Web.WebPages.Razor.dll
MVCSmartClient01/bin/Views/trxDetailPekerjaanHeader/AddEditPekerjaanAS_1MHeader.cshtml
MVCSmartClient01/bin/Views/trxDetailPekerjaanHeader/AddEditPekerjaanHeader.cshtml
MVCSmartClient01/bin/Views/trxDetailPekerjaanHeader/GetByRekanan - Copy.cshtml
MVCSmartClient01/bin/Views/trxDetailPekerjaanHeader/GetByRekanan.cshtml
MVCSmartClient01/bin/Views/trxDetailPekerjaanHeader/PekerjaanByRekanan.cshtml
MVCSmartClient01/bin/Views/TrxManagementP2PK/AddEditManagementP2PK.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_AddEditTDraft.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_AddEditTDraftContainer.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_AddEditTDraftPCP.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_AddEditTDraftReply.cshtml
MVCSmartClient01/bin/System.Web.Helpers.dll
MVCSmartClient01/bin/System.Web.Razor.dll
MVCSmartClient01/bin/System.Web.WebPages.Deployment.dll
MVCSmartClient01/bin/System.Web.WebPages.dll
MVCSmartClient01/bin/System.Web.WebPages.Razor.dll
MVCSmartClient01/bin/Views/TrxNotificationHeader/_AlertByEmailSentCaption.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_AlertByWhatsappSentCaption.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_EmailSentCaption.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_GridSubjectTo.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_NotificationKritikal.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_NotificationNormal.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_NotificationPenting.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_ReadInfoByIdNotification.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_TrayDraftCaption.cshtml
MVCSmartClient01/bin/System.Web.Helpers.dll
MVCSmartClient01/bin/System.Web.Razor.dll
MVCSmartClient01/bin/System.Web.WebPages.Deployment.dll
MVCSmartClient01/bin/System.Web.WebPages.dll
MVCSmartClient01/bin/System.Web.WebPages.Razor.dll
MVCSmartClient01/bin/Views/TrxNotificationHeader/_TrayDraftDetail.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_TrayDraftDetail4Rek.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_TrayInboxCaption.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_TraySentCaption.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_TraySentDetail.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_TraySentDetail4Rek.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/_WhatsappSentCaption.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/Create.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/Delete.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/Edit.cshtml
MVCSmartClient01/bin/System.Web.Helpers.dll
MVCSmartClient01/bin/System.Web.Razor.dll
MVCSmartClient01/bin/System.Web.WebPages.Deployment.dll
MVCSmartClient01/bin/System.Web.WebPages.dll
MVCSmartClient01/bin/System.Web.WebPages.Razor.dll
MVCSmartClient01/bin/Views/TrxNotificationHeader/GetNotificationBySubjectKritikal.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/GetNotiInboxSentDraft.cshtml
MVCSmartClient01/bin/Views/TrxNotificationHeader/Index.cshtml
MVCSmartClient01/bin/Web.config
MVCSmartClient01/bin/Web.Debug.config
MVCSmartClient01/bin/Web.Release.config
MVCSmartClient01/bin/WebMatrix.Data.xml
MVCSmartClient01/bin/WebMatrix.WebData.xml
MVCSmartClient01/MVCSmartClient01.csproj
MVCSmartClient01/bin/System.Web.Helpers.dll
MVCSmartClient01/bin/System.Web.Razor.dll
MVCSmartClient01/bin/System.Web.WebPages.Deployment.dll
MVCSmartClient01/bin/System.Web.WebPages.dll
MVCSmartClient01/bin/System.Web.WebPages.Razor.dll
MVCSmartClient01/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MVCSmartClient01/obj/Debug/MVCSmartClient01.csproj.FileListAbsolute.txt
MVCSmartClient01/obj/Debug/MVCSmartClient01.csprojResolveAssemblyReference.cache
MVCSmartClient01/obj/Debug/MVCSmartClient01.dll
MVCSmartClient01/obj/Debug/MVCSmartClient01.pdb
MVCSmartAPI01/bin/Antlr3.Runtime.pdb
MVCSmartAPI01/bin/de/System.Spatial.resources.dll
MVCSmartAPI01/bin/DevExpress.Data.v14.1.dll
MVCSmartAPI01/bin/DevExpress.Data.v14.1.xml
MVCSmartAPI01/bin/EntityFramework.SqlServer.xml
MVCSmartAPI01/bin/EntityFramework.xml
MVCSmartAPI01/bin/es/System.Spatial.resources.dll
MVCSmartAPI01/bin/fr/System.Spatial.resources.dll
MVCSmartAPI01/bin/it/System.Spatial.resources.dll
MVCSmartAPI01/bin/ja/System.Spatial.resources.dll
MVCSmartAPI01/bin/ko/System.Spatial.resources.dll
MVCSmartAPI01/bin/log4net.config
MVCSmartAPI01/bin/log4net.dll
MVCSmartAPI01/bin/log4net.xml
MVCSmartAPI01/bin/Microsoft.AspNet.Identity.Core.xml
MVCSmartAPI01/bin/Microsoft.AspNet.Identity.EntityFramework.xml
MVCSmartAPI01/bin/Microsoft.AspNet.Identity.Owin.xml
MVCSmartAPI01/bin/Microsoft.Owin.Host.SystemWeb.xml
MVCSmartAPI01/bin/Microsoft.Owin.Security.Cookies.xml
MVCSmartAPI01/bin/Microsoft.Owin.Security.OAuth.xml
MVCSmartAPI01/bin/Microsoft.Owin.Security.xml
MVCSmartAPI01/bin/Microsoft.Owin.xml
MVCSmartAPI01/bin/Microsoft.Practices.Unity.Configuration.xml
MVCSmartAPI01/bin/Microsoft.Practices.Unity.RegistrationByConvention.xml
MVCSmartAPI01/bin/Microsoft.Practices.Unity.xml
MVCSmartAPI01/bin/MVCSmartAPI01.dll
MVCSmartAPI01/bin/MVCSmartAPI01.dll.config
MVCSmartAPI01/bin/MVCSmartAPI01.pdb
MVCSmartAPI01/bin/Newtonsoft.Json.xml
MVCSmartAPI01/bin/Omu.ValueInjecter.xml
MVCSmartAPI01/bin/ru/System.Spatial.resources.dll
MVCSmartAPI01/bin/System.Net.Http.Formatting.xml
MVCSmartAPI01/bin/System.Spatial.xml
MVCSmartAPI01/bin/System.Web.Helpers.xml
MVCSmartAPI01/bin/System.Web.Http.Owin.xml
MVCSmartAPI01/bin/System.Web.Http.Tracing.xml
MVCSmartAPI01/bin/System.Web.Http.WebHost.xml
MVCSmartAPI01/bin/System.Web.Http.xml
MVCSmartAPI01/bin/System.Web.Mvc.xml
MVCSmartAPI01/bin/System.Web.Razor.xml
MVCSmartAPI01/bin/System.Web.WebPages.Deployment.xml
MVCSmartAPI01/bin/System.Web.WebPages.Razor.xml
MVCSmartAPI01/bin/System.Web.WebPages.xml
MVCSmartAPI01/bin/zh-Hans/System.Spatial.resources.dll
MVCSmartAPI01/bin/zh-Hant/System.Spatial.resources.dll
MVCSmartAPI01/MVCSmartAPI01.csproj.user
MVCSmartAPI01/obj/Debug/MVCSmartAPI01.dll
MVCSmartAPI01/obj/Debug/MVCSmartAPI01.pdb
MVCSmartClient01/bin/System.Web.Helpers.dll
MVCSmartClient01/bin/System.Web.Razor.dll
MVCSmartClient01/bin/System.Web.WebPages.Deployment.dll
MVCSmartClient01/bin/System.Web.WebPages.dll
MVCSmartClient01/bin/System.Web.WebPages.Razor.dll
MVCSmartClient01/MVCSmartClient01.csproj
MVCSmartClient01/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MVCSmartClient01/obj/Debug/MVCSmartClient01.csproj.FileListAbsolute.txt
MVCSmartClient01/obj/Debug/MVCSmartClient01.csprojResolveAssemblyReference.cache
MVCSmartAPI01/MVCSmartAPI01.csproj.user
MVCSmartClient01/bin/System.Web.Helpers.dll
MVCSmartClient01/bin/System.Web.Razor.dll
MVCSmartClient01/bin/System.Web.WebPages.Deployment.dll
MVCSmartClient01/bin/System.Web.WebPages.dll
MVCSmartClient01/bin/System.Web.WebPages.Razor.dll
MVCSmartClient01/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MVCSmartClient01/obj/Debug/MVCSmartClient01.csproj.FileListAbsolute.txt
MVCSmartClient01/obj/Debug/MVCSmartClient01.csprojResolveAssemblyReference.cache
MVCSmartClient01/obj/Debug/MVCSmartClient01.csprojResolveAssemblyReference.cache
