a.newLink, a.newLink:hover {
    display:block; 
    margin: 0 auto; 
    padding: 0;
    height:24px; 
    width:24px;
    position: relative;
}

a.newLink:hover {
	/*background-color: #339933;*/
    background: url('images/CommandIconsHover.png') 0 0;
}

a.newLink 
{    
    background: url('images/CommandIcons.png') 0 0;
}

a.updateLink, a.updateLink:hover {
    display:block; 
    margin: 0 auto; 
    padding: 0;
    height:24px; 
    width:24px;
    position: relative;    
}

a.updateLink:hover {
	/*background-color: #FD9609;*/
    background: url('images/CommandIconsHover.png') -24px 0;
}

a.updateLink 
{    
    background: url('images/CommandIcons.png') -24px 0;
}

a.deleteLink, a.deleteLink:hover {
    display:block; 
    margin: 0 auto; 
    padding: 0;
    height:24px; 
    width:24px;
    position: relative;    
}

a.deleteLink:hover {
	/*background-color: #E51400;*/
    background: url('images/CommandIconsHover.png') -48px 0;
}

a.deleteLink 
{    
    background: url('images/CommandIcons.png') -48px 0;
}

a.backLink 
{    
    background: url('images/CommandIcons.png') 0px -24px;
    display:block; 
    margin: 0px auto; 
    padding: 0px;
    height:24px; 
    width:24px;
    position: relative;
}

a.exToXLSLink 
{    
    background: url('images/CommandIcons.png') -24px -24px;
    display:block; 
    margin: 0px auto; 
    padding: 0px;
    height:24px; 
    width:24px;
    position: relative;
}

a.viewLink:hover {
	background-color: #00ABA9;
}

a.viewLink
{
    background: url('images/CommandIcons.png') -72px 0px;
    display:block; 
    margin: 0px auto; 
    padding: 0px;
    height:24px; 
    width:24px;
    position: relative;
}

a.excelLink:hover {
	background-color: #A05000;
} 

a.excelLink 
{
    background: url('images/CommandIcons.png') -144px 0px;
    display:block; 
    margin: 0px auto; 
    padding: 0px;
    height:24px; 
    width:24px;
    position: relative;
}

a.daysLink:hover {
	background-color: #4169E1;
}

a.daysLink 
{
    background: url('images/CommandIcons.png') -168px 0px;
    display:block; 
    margin: 0px auto; 
    padding: 0px;
    height:24px; 
    width:24px;
    position: relative;
}


a.viewList
{    
    background: url('images/DocumentCheckList.png');
    display:block; 
    margin: 0px auto;
    padding: 0px;
    height:24px; 
    width:24px;
    position: relative;
}

.headerMenu 
{
    margin-left: 0;
    /*margin-top: 42px;*/
}

.dxm-content a.dx 
{    
    vertical-align: bottom;
}

#MainSplitter_0{
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent !important;
	background-position: center;
}

#MainSplitter_0 div.dxsplLCC {
    height: 90px !important;
}

.dxm-separator b 
{
    height: 30px !important;
}

table.listPercent {
    border-collapse: collapse;
}

.listValue {
    border-left: olivedrab;
    border-left-style: solid;
    border-left-width: 2px;
    text-align: right;
}

td.listBar {
    text-align: center;
    color: #FFFFFF;
}

table.ChecklistTableHeader 
{
	background-color: rgba(0, 0, 0, 0.25);
	padding: 8px;
    /*
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
	border-style: solid;
    border-width: 2px;
    border-color: #3C508F;
	*/
}

/*
.btnUpdate {
	
	background-size: 192px 24px;
	background-position: left;
	color: #FFFFFF;
    height:24px; 
    width:24px;
    position: relative;
}

#btnUpdate.btnUpdate td.dxbButton_PlasticBlue 
{
	background: url('images/CommandIcons.png') -24px 0px no-repeat;
}
*/